<div class="jumbotron my-4">
    <ul>
        <h3>Vision</h3>
        <p>
          <em><strong>KMCG</strong></em> a l’ambition de répondre aux nouveaux besoins des grandes,
          moyennes et petites Entreprises, Administration et Organismes du secteur public,
           et associations qui font face à des défis de plus en plus complexe, dans un contexte
           d’incertitude Accrue. Pour chaque situation, <strong>KMCG</strong> identifie avec les clients,
           les Experts et méthodes les mieux à même  de les aider à concevoir et mettre en
           œuvre leurs organisations.
        </p>
      
        <h3>Mission</h3>
        <p>
          Le développement des PME au Congo requiert un environnement global
          incitatif et cohérent, un dispositif d’appui direct performant et une
          offre de financement adaptée. A cet effet, l’objectif de notre cabinet est
          de mettre à la disposition des PME congolaises un service personnalisé en matière
           d’accompagnement technique, de conseils en management et financement.
           Ceci permettra à terme, d’accroitre significativement en nombre les PME
           éligibles au financement bancaire tout en les rendant plus compétitives. Il s’agira de :
        </p>
        <ul>
          <li>
            Apporter une offre, spécifique et rentable, de services d’accompagnement
             ou d’assistance technique et de formation en faveur des PME,
          </li>
          <li>
              Vulgariser nos prestations de services sur toute l’étendue du
              territoire nationale par l’implantation de sites dans les principales villes du Pays,
          </li>
          <li>
              Participer au renforcement des dispositifs favorisant la bonne gestion des PME
          </li>
          <li>
              Contribuer à la promotion de la dynamique  « qualité » au sein des PME,
          </li>
          <li>
              Participer à la création d’emplois stables et de qualité,
          </li>
        </ul>
        <h3>Valeurs</h3>
        <p>
            Afin de mettre en œuvre notre vision et remplir notre mission, nous appuyons
            sur cinq valeurs fondamentales. Ces valeurs constituent le socle de notre
            relation avec les clients et la communauté :
        </p>
        <ul>
          <li>Compétence</li>
          <li>Intégrité</li>
          <li>Confidentialité</li>
          <li>Loyauté</li>
          <li>Ethique</li>
        </ul>
      </ul>
</div>