<div class="jumbotron my-4">

    <h2>Nous intervenos dans les domaines ci-dessous</h2>
    <ul>
      <h3>Conseils</h3>
      <p>
          Dans un monde en pleine mutation, KMCG SARL imagine et développe des
          solutions pour répondre aux nouveaux besoins des Entreprises et
          institutions qui font face à des défis de plus en plus complexes dans un
          contexte d’incertitude accrue. Ainsi pour chaque situation,
          KMCG identifie avec les clients, les Experts et les méthodes les mieux à même
          d’aider les clients dans la définition et la mise en œuvre de stratégie.
      </p>
      <h3>Formation et Conseils aux Entrepreneurs</h3>
      <p>
          KMCG SARL propose une formation à l’Entrepreneuriat pour les petites et
          micro-Entreprises et aide à ses dirigeants à acquérir de compétences
          complémentaires par le biais de l’accompagnement et du mentorat.
      </p>
      <h3>Audit & Expertise comptable</h3>
      <p>
          KMCG vise à fournir aux clients des solides compétences
          techniques à une démarche d’Audit efficace et à une forte valeur
          ajoutée en plaçant le professionnalisme au cours de la méthodologie.
          KMCG SARL contribue à renforcer des Investisseurs en certifiant les informations
          comptables et financières de nos clients.
      </p>
      <h3>Accompagnement des Investisseurs</h3>
      <p>
          KMCG accompagne et facilite les Investisseurs dans leur démarche de création d’Entreprises.
      </p>
      <h3>Fiscalité et Parafiscalité</h3>
      <p>
          KMCG SARL assure l’accompagnement des opérateurs économiques dans la
          tenue de leurs obligations fiscales et parafiscales.
      </p>
      <h3>Placement, Intérim &Organisation des Events</h3>
      <p>
          KMCG vous propose ses services pour répondre à vos besoins de
          main d’œuvres occasionnelle et permanente et mais aussi KMCG planifie et
          organise les Events  pour faciliter les contacts et partage d’expériences.
      </p>
    </ul>
</div>