<header class="masthead" style="background-image: url('img/DSC_0224.jpg'); margin-top: 20px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="text-align: center; color: rgba(red, green, blue, alpha)">
                NOS PUBLICATIONS
            </h1>
            <span class="subheading" style="color: white; font-size: 1.3em">
                Offre de services, concours, etc..
                </span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
            <img class="card-img-top" src="img/logo.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Premier publication</h4>
                <h3 class="card-text"> Chez nous, Vos projets ont un avenir!</h3>
            </div>
            <div class="card-footer">
                <!---<a href="#" class="btn btn-primary">Lire plus!</a>---->
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <img class="card-img-top" src="img/serkmg.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Nos programmes</h4>
                    <p class="card-text">Voici un appercu sur nos programmes</p>
                  </div>
                  <div class="card-footer">
                    <!---<a href="#" class="btn btn-primary">Find Out More!</a>--->
                  </div>
                </div>
              </div>
        
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <img class="card-img-top" src="img/black_01.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Notre desir</h4>
                    <p class="card-text">Pou nous, c'est votre joie qui compte. nous sommes la pour rendre reel vos reves</p>
                  </div>
                  <div class="card-footer">
                    <!---<a href="#" class="btn btn-primary">Find Out More!</a>---->
                  </div>
                </div>
              </div>
        
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <img class="card-img-top" src="img/ADRESS.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Nos addresses</h4>
                    <p class="card-text">Pour plus d'informatiom, retrouvez nous sur nos addresses physique!</p>
                  </div>
                  <div class="card-footer">
                    <!---<a href="#" class="btn btn-primary">Find Out More!</a>--->
                  </div>
                </div>
              </div>
        
</div>