<header class="masthead" style="background-image: url('img/DSC_0224.jpg'); margin-top: 20px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="text-align: center; color: rgba(red, green, blue, alpha)">PROFIL ET RECRUTEMENT</h1>
            <span class="subheading" style="color: white; font-size: 1.3em">
                Nous souhaitons attirer et retenir des professionnels ambitieux,
                    motivés pour participer à l’évolution d’un cabinet en plein développement.
                    Le sens de responsabilité et la rigueur intellectuelle sont les aptitudes
                    fondamentales que nous attendons de nos collaborateurs.
                </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  